<div class="col-xs-12 col-md-6 col-md-offset-3">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="username">User Name</label>
				<input type="text" class="form-control" id="username" name="username" [(ngModel)]="userName" disabled/>
			</div>
			<div class="form-group">
				<label for="email">Email ID</label>
				<input type="email" class="form-control" id="email" name="email" [(ngModel)]="userEmailID"/>
			</div>
			<!--<div class="form-group">
				<label for="password">Password</label>
				<input type="text" class="form-control" id="password" name="password" [(ngModel)]="userPassword"/>
			</div>-->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4 class="clearfix group-header">
				<b>My Groups</b> 
				<a *ngIf="!isAddGroupBtnClicked" class="btn btn-small pull-right" href="javascript:void(0)" (click)="onClickAddGroupBtn()">Add Group &nbsp;&nbsp;<i class="fa fa-plus-circle fa-small" aria-hidden="true"></i></a>
			</h4>
			<div class="add-group-container" *ngIf="isAddGroupBtnClicked">
				<div class="form-group">
					<label for="groupName">{{(editGroup) ? 'Edit' : 'Add'}} Group Name</label>
					<input type="text" class="form-control" id="groupName" name="groupName" [(ngModel)]="newGroupName" (blur)="onBlurGroupName()"/>
					<div class="error-block" *ngIf="isDuplicateGroupName">
						<div class="alert alert-danger">
							<ul>
								<li>Duplicate Group Name Exists. Please add a new group name.</li>
							</ul>
						</div>
					</div>	
				</div>
				<div class="form-group"  *ngIf="addedMembers.length">				
					<label for="">Added Members</label>
					<div class="clearfix">
						<div class="added-member" *ngFor="let member of addedMembers; let i = index">
							<div class="clearfix" (mouseover)="onMouseOverAddedMemberBlock(member)" (mouseleave)="onMouseLeaveAddedMemberBlock(member)">
								<a href="javascript:void(0)" (click)="removeAddedMember(i)" class="remove-user" *ngIf="member.isHover">
									<i class="fa fa-trash-o fa-black" aria-hidden="true"></i>
								</a>
								<div class="col-xs-12 nopadding">
									<p>
										<span class="user">{{member.name}}</span>
									<p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="memberName">Add Member Name</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">				
						<input class="form-control" id="memberName" name="memberName" [(ngModel)]="memberName" type="text" >
						<div class="input-group-addon">
							<a href="javascript:void(0)" role="button" (click)="addMember()">
								<i aria-hidden="true" class="fa fa-plus-circle fa-black fa-small"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="error-block" *ngIf="errorMessages.length">
					<div class="alert alert-danger">
						<ul>
							<li *ngFor="let error of errorMessages; let i = index;">
								{{error.message}}
							</li>
						</ul>
					</div>				
				</div>
				<div class="form-group text-right">
					<a href="javascript:void(0)" class="btn btn-small" (click)="addGroupToGroupList()">{{(editGroup) ? 'Edit' : 'Create'}} Group </a>
					<a href="javascript:void(0)" class="btn btn-small" (click)="onClickCancelGroupAddBtn()">Cancel </a>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead *ngIf="AllGroups && AllGroups.length">
						<tr>
							<th>Group Name</th>
							<th>Group Members</th>
							<th>Created On</th>
							<th></th>
						</tr>
					</thead>
					<tbody *ngIf="AllGroups && AllGroups.length">
						<tr *ngFor="let group of AllGroups; let i = index;">
							<td>{{group.groupName}}</td>
							<td>{{pupulateGroupMembers(group.groupMembers)}}</td> 
							<td>{{group.createdOn | date:"MM/dd/yyyy"}}</td>
							<td class="text-right">
								<a class="edit-group" href="javascript:void(0)" (click)="onEditGroup(i, group)">
									<i aria-hidden="true" class="fa fa-pencil-square-o fa-black fa-small"></i>
								</a>
								&nbsp; | &nbsp;
								<a class="remove-group" href="javascript:void(0)" (click)="onClickRemoveGroup(i)">
									<i aria-hidden="true" class="fa fa-trash-o fa-black fa-small"></i>
								</a>
							</td>
						</tr>
					</tbody>
					<tfoot *ngIf="(!AllGroups || !AllGroups.length) && !isAddGroupBtnClicked">
						<strong>No Groups Available.</strong>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a href="javascript:void(0)" class="btn btn-small" (click)="saveAccountDetails()">Save Changes &nbsp;&nbsp; <i aria-hidden="true" class="fa fa-long-arrow-right fa-small"></i></a>
		</div>
	</div>
</div>